* {
     direction: rtl;
}
 .owl-carousel .owl-wrapper-outer{
    direction:ltr;
}
/*-------------------------------------Float Left-------------------------------------*/
 .header-cart,#cart .text-right .addtocart, #cart .text-right .checkout,.pagination-right, .category_filter .limit,.pull-right,.contact-info .right, #cart,.close,#accordion .panel-heading .fa.fa-caret-down,#cart .button-container,.information-information .right,#button-search {
    float:left!important;
}
.header-offer{float:left;}
.header-offer .offer-inner{text-align: right;}
.category_tab .etabs{
    float: left;
    margin: 0 0 0 80px;
}
#footer .social ul li {
    margin: 0 0 0 10px;
}
#offercmsblock-2{
	padding: 0 15px 0 0;	 
	float: left;
}
ul.breadcrumb{float:left;}
#categorycmsblock .cat-shop-btn:after{float:right;}
#Tab_Category_Slider{float:left;padding: 0 10px 0 0;}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------Float Right-------------------------------------*/
.header-search,.category_filter .btn-list-grid,.compare-total,.category_filter .show, .category_filter .sort,.sort-by-wrapper, .show-wrapper,.pull-left,.image1,.image2,.image3,.image4, .contact-info .left,.contact-info .address-detail,.contact-info .telephone,.contact-info .fax,legend
 {
    float:right!important;
}
.main-slider{
	float:right;
	padding: 0 0 0 15px;
}
#footer #contact .contact-text {
    float: right;
    padding: 0 0 0 7px;
}
#cart .cart-icon{float:right;}
#cart > .btn{margin: 8px 5px 0 0;}
.category_tab .title-wrapper {
    float: right;
}
.countbox .timebox{
	margin: 0 0 0 10px;
}
span.discoutprice{
	left: auto;
	right: 20px;
}
#serviceblock .image-block{
	margin: 0 0 0 15px;
}
#serviceblock .service-right{
	text-align:right;
}
#homeblog .blog-desc{text-align:right;}
.main-menu > ul > li{float:right;}
.header-logo{
    float: right;
    margin: 0 0 0 75px;
}
.nav-tabs>li>a{
	margin-left: 5px;
	margin-right: 0;
}
.header-service .service-contact-label:before{
	float:right;
}
.subscribe-btn .btn{
	border-radius: 25px 0 0 25px;
	-webkit-border-radius: 25px 0 0 25px;
	-khtml-border-radius: 25px 0 0 25px;
	-moz-border-radius: 25px 0 0 25px;
}
.header-service .service-contact-text{float:right;}
.special.product-box{float:right;padding: 0 0 0 10px;}
.special .product-thumb .caption{
	text-align: right;
}
/*-------------------------------------------------------------------------------------*/
 #column-left .box .box-heading:before, #column-right .box .box-heading:before{
	right: 20px;
	left: auto;
 }
 #column-left .box .box-heading:after, #column-right .box .box-heading:after{
	right: 20px;
	left: auto;	 
 }
 #column-left .box-product .price, #column-right .box-product .price{
	float:right;
 }
 #categorycmsblock .cat-item .cat-item-inner:after{
	left: 0;
	right: auto;
 }
 .productpage ul.breadcrumb, .information-blogger ul.breadcrumb, #account-login ul.breadcrumb{text-align:right;}
 .text-right {
    text-align: left;
}
.user-info-image .fa{
	margin: 0 10px 0 0;
}
 .contact-info .address-detail,.contact-info .telephone,.contact-info .fax{
    float:right;
}
.header .header-nav-left {
    float: right;
}
.header .header-nav-right {
    float: left;
}
.myaccount-menu li .fa{
	margin: 0 0 0 8px;
}
.special .owl-buttons{
	left: 10px;
	right: auto;
}
#form-language .dropdown-toggle {
    padding: 0 0 0 15px;
}

#blocktopcms:after{
	right: auto;
	left: 0;
}
#blocktopcms .customtext:before{
	float:left;
}
#blocktopcms{
	float:right;
}
#pstblocktopcontact {
    float: left;
}
#pstblocktopcontact .contact-details:before{
	float:right;
}
#pstblocktopcontact .contact-title{
	float: right;
}
#links_block_header{
	float:left;
}
#links_block_header li {
    float: right;
}
#links_block_header li a {
    padding: 0 0 0 35px;
}
#links_block_header li a:after{
	left: 15px;
	right: auto;
}
#wish-list{
    float: left;
    margin: 4px 0 0 10px;
}
#wish-list .wish-details{
	border:none;
}
#wish-list .wish-list-details{
    left: 0;
    right: auto;
    text-align: right;
}
.header-nav .pull-left {
    float: none !important;
}
.header .myaccount{
	float: left;
	padding: 0 20px 0 0;
}
.main-menu{
	float:right;
}
.header-nav-right .search {
    float: left;
}
.user-info-wrapper{
	text-align:right;
}
.btn-group>.btn{
	float:right;
}
.vertical-category .top_level a:before{
	margin: 0 0 0 15px;
	float: right;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
}
.vertical-category .top_level a:hover:before{
	 margin: 0 0 0 10px;
	transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	-o-transition-duration: 300ms;
}
@media (min-width: 980px) {
	.vertical-category{
		float: right;
	}
	.account-title .fa{	
		margin: 0 10px 0 0;
	}
	.vertical-category .vertical-heading{
		text-align: right;
		padding: 20px 70px 20px 30px;
		background-position: right 30px center;
	}
	#form-language .dropdown-toggle:after, #form-currency .dropdown-toggle:after{
		right: auto;
		left: -2px;
	}
	#footer .footer-left.column{
		border-left: 1px solid #3A89CC;
		border-right:none;
	}
}	

/* Custom Text block start*/
#custom-text .text1{
	border-right:none;
	border-left: 1px solid #7D9099;
	padding: 0 0 0 50px;
}
#custom-text .text2{
	padding: 0 80px 0 50px;
}
#custom-text .text2:before{
	left: 0;
	right: 30px;
}
/* Custom Text block end*/
/* CMSBlock */
 .cmsblock_list_cms {
     float: right;
}
 .cms-box {
     float: right;
}
 .list_inner {
     float: right;
}
 .cmsblock_img {
     float: right;
     left: auto;
     right: 0;
}
 .list_inner:hover .cmsblock_img {
     left: auto;
     right: 0;
}
 .cmsblock_list_inner {
     right: auto;
     left: -47px;
}
 .cmsblock-data {
     line-height: normal;
     writing-mode: vertical-rl;
     text-orientation: upright;
     padding: 0 15px;
}
 .page-title,.product-title,.product-option ,.aboutus h1 ,.affiliate-success h1{
}
.product-thumb .wishlist{
	left: 20px;
	right: auto;
}
.product-thumb .caption{
	text-align:right;
}
#column-left .product-thumb .button-group .addtocart:after, #column-right .product-thumb .button-group .addtocart:after{
	margin: 0 6px 0 0;

	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
}
#homeblog p.btn_readmore a:after{
	margin: 1px 5px 0 0;
	    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
}
.blog_stats span + span:before{
	border-left: 1px solid #e5e5e5;
	border-right:none;
    right: 4px;
    left: auto;
}
.blog_stats span + span{
	padding-left: 0;
	padding-right: 15px;
}
 .category_list li {
    float: right;
    margin: 0 0 5px 10px;
}
 .category_filter .sort-by{
    float:right;
    margin:5px 0 0 10px;
}
 .category_filter .show{
    margin:5px 0 0 5px;
}
 #column-left{
     float:right;
}
 #column-right{
     float:left;
}
 .flex-viewport {
    direction: ltr;
}
.nav-responsive span, .main-menu > ul > li > a{
  text-align:right;
}
 .main-menu > ul > li ul > li > ul{
     margin-left:0;
     margin-right:-13px;
}
 .main-menu > ul > li ul > li > a {
     position:relative;
}
.owl-buttons, .home-products .customNavigation, .customNavigation{
	right: auto;
	left: 0;
}
.customNavigation a.prev, .owl-buttons .owl-prev{
	float:left;
	margin: 0 3px 0 0;
}
 .flex-control-nav{
     right:auto;
     left:10px;
     padding:0;
}
 .sale{
    right: -20%;
    left: auto;
}
.product-thumb:hover .sale{
	right: 20px;
	left: auto;
}
 .main-menu > ul > li ul > li > a.activSub{
    background-image: url("../../image/themeimage/rtl/cat_arrow_hover_rtl.png");
     background-repeat: no-repeat;
     background-position: left center;
}
 .main-menu > ul > li ul > li:hover > ul {
    left:auto;
     right:173px;
}
 .box .box-content ul li{
     padding-right:0;
     margin-right:0;
}
 ul.box-category > li a.active + ul , .box .box-content ul ul{

}
 ul.box-category > li ul > li > a{
     background: url("../../image/themeimage/rtl/subcat_arrow_rtl.png") no-repeat scroll right center !important;
     padding-right: 12px;
}
 ul.box-category > li ul > li > a:hover{
     background: url("../../image/themeimage/rtl/subcat_arrow_hover_rtl.png") no-repeat scroll right center !important;
}
#footer .container .common li a:before{
	margin: 0 0 0 8px;
	float:right;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
}
#footer .container .column li a:hover:before{
	margin: 0 0 0 3px;
}
.newsletter .subscribe-btn{
	right: auto;
    left: -5px;
}
#txtemail{
	padding:12px 20px 12px 130px;
}
 .top_button{
     left:40px;
     right:auto;
}
 .myaccount .dropdown-menu-right {
    right: auto;
    left: 0;
}
 .box.sidebar-category .box-content ul li ul li a.activSub::before{
    right:auto;
}
 .dropdown-menu.pull-right {
     right: auto;
     left: 0;
}
 #top {
     text-align: right;
}
 #top #form-currency .currency-select ,#form-language .dropdown-menu > li > a{
    text-align:right;
}
 .breadcrumb>li+li:before{
    float:right;
     content:'\f100';
}
 .customSelectInner , .customSelectOpen .customSelectInner{
     background-position:left center;
}
 .customSelectInner {
    padding-left:10px;
     text-align: right;
}
 .product-grid li, #content .box-product .product-items{
     float:right;
}
 .category-info .image{
     float:right;
     margin-left:10px;
}
 #column-left .box-product .image, #column-right .box-product .image{
     float:right;
     margin: 0 0 0 15px;
}
 #column-left .box-product .rating, #column-right .box-product .rating, #column-left .box-product .name, #column-right .box-product .name, #column-left .box-product .price, #column-right .box-product .price, #column-left .box-product .cart, #column-right .box-product .cart{
     margin-left:0;
}
#column-left .product-block .button-group, #column-right .product-block .button-group{
	    float: left;
}
.product-thumb .rating{
	left: auto;
	right: 0;
}
 .product-list .right{
     float:left;
    margin-left: 0px;
     margin-right:15px;
     text-align:left;
}
 .product-info > .left + .right {
     margin-right: 295px;
     margin-left:0px;
}
 .product-carousel .slider-wrapper-outer{
     direction:ltr !important;
}
 .product-right .btn-group .wishlist .fa,.product-right .btn-group .compare .fa{
    margin-right:0px;
     margin-left:5px;
}
 .affiliate-dropmenu .dropdown-menu li a{
    text-align:right;
}
 #topcontrol{
     right:auto !important;
     left:10px !important;
}
 .list-inline {
    padding-right:0;
}
 #column-left .product-items .product-details, #column-right .product-items .product-details{
     float:right;
     padding-left: 0;
     padding-right: 10px;
}
 #column-left .product-thumb .caption, #column-right .product-thumb .caption{
     text-align: right;
}
 #cart .text-right .addtocart, #cart .text-right .checkout{
    float:right;
}
 #cart .text-right .addtocart{
    margin:0 5px 0 0;
}
 .category_img {
    float:right;
}
 .category_description {
    float:left;
}
 .list-unstyled {
    padding-right:0;
}
 .treeview-list .expandable-hitarea, .treeview-list .hitarea {
    float:left;
}
 .addthis_default_style .addthis_separator, .addthis_default_style .at4-icon, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300bs, .addthis_default_style .at300m {
    float:right!important;
}
 .filterbox a.list-group-item::after ,.filterbox a.list-group-item.collapsed::after{
	float: left;
}
 .radio input[type=radio],.radio-inline input[type=radio],.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox] {
     float: right;
}
 .radio, .checkbox,.radio-inline, .checkbox-inline{
    padding-left:0;
}
 .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
    margin-right:10px;
     margin-left:0;
}
 .toggle .mobile_togglemenu{
    text-align: left;
}
 .col-sm-offset-8{
    margin-left:0;
     margin-right:66.66666666666666%;
     float:left;
}
 #accordion label.col-sm-2.control-label{
    padding:0 0 0 15px;
}
 .checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{
    margin-left:0px;
     margin-right:5px;
}
 #accordion .form-horizontal .control-label {
    text-align:right;
}
#form-language .btn-group img {
    margin-left: 3px;
	margin-right:0;
}
#form-language .common-btn:after, #form-currency .common-btn:after{
	    left: 15px;
    right: auto;
}
 .affiliate-dropmenu .dropdown-menu{
    right:15px !important;
    left:auto !important;
}
 #top-links li + li{
     padding:0 9px 0 4px;
}
 #top-links li {
     padding: 0 0 0 4px;
}
 #top-links .dropdown-menu a{
    text-align:right;
}
 .checkbox label, .radio label{
     padding-right: 20px;
     padding-left: 0;
}
 .header-right {
     float: left;
}
 .content_headercms_top,.header-tele-cms .telephone{
    float:none;
}
 .header-tele-cms{
}
 .cms-data{
     margin: 0 15px 0 0px;
     padding-left: 20px;
     padding-right:0px;
}

 .box .box-content ul li ul li a.activSub::before, .box .box-content ul li a.activSub::before{
    content: "\f104";
     font-family: "FontAwesome";
     left: 6px;
     right: auto;
}
 .box .box-content ul li ul li:hover > a.activSub, .box .box-content ul li:hover > a.activSub {
     background: rgba(0, 0, 0, 0) url("../../image/themeimage/rtl/menu-hover-arrow.jpg") no-repeat scroll 2px 1px;
     margin-left: -12px;
     margin-right: 0;
}
 .box .box-content ul ul {
     margin-left: 0;
     margin-right: 15px;
}
 .box .box-content ul li ul li a {
     padding: 8px 10px 8px 8px;
}
 .box .box-content ul ul li ul{
    margin-left:0;
    margin-right:-18px;
}
 .dropmenu ul, .dropmenu div{
	right: 0;
	left: auto;
}
#nav-one > li > .dropdown-menu{
	right: 100%;
	left: auto;
}
.vertical-category .top_level a{text-align:right;}
.vertical-category .dropdown-inner:before{
	right: -10px;
	left:auto;

	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
}
#nav-one ul{
	text-align:right;
}
 .htabs .etabs li{
    float:right;
}
 .product-list .caption .price {
   float:right;
}
.category_tab ul li a:before{
	right: auto;
	left: 0;
}

 
/* Blog listings */
 .blog_item .image {
     float: right;
}
.blog-right-content{
	text-align:right;
}
#homeblog .blog_item .icon.zoom{
	left: 0;
    right: auto;
}
#homeblog .blog_item .post_hover{
	left: 0;
	right: auto;
}
#homeblog .blog_stats{
	left: auto;
	right: 15px;
}

/* Blog Post */
 .blog_stats .fa {
     margin-left: 5px;
     margin-right: 0;
}
 .blog_post .tags a {
     margin-left:2px;
}
 .blog_post h3 i {
     margin-left:7px;
     margin-right: 0;
}
 .blog_post .share .fa {
     margin:0 0 10px 5px;
}
/* Modules */
 .blog-module h3 a.all {
     float:left;
}
#homeblog .blog-left{
	float:right;
}
#homeblog p.btn_readmore a:before{
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
}
#homeblog .write-comment a:before{
	margin: 0 0 0 5px;
}
#common-home .blog_stats .hl:before{
	margin: 0 0 0 5px;
}
/* Sub Banner Module */
#pstsubbanner .subbanner-item{
	float:right;
}
/* Category Module */
 .blog-category .sign {
     right:auto;
     left: 0;
}

 .pxtestimonial .test-image .cms-box-heading {
     text-align: right;
}
 .tm-about-text,#foot	er .column{
     float:right;
     text-align: right;
}
 .powered br {
     display: none;
}
.powered{
    float: right;
}
 .footer-top-right ,.aboutme-read-more{
    float:left;
}
 .aboutme-read-more{
    margin:37px 0 0 25px;
}
#footer .column {
    float: right;
	    padding: 55px 25px 65px 0;
}
#footer .column.fourth{
	left: 0;
	right: auto;
}
 #footer .col-sm-3.column.fourth{
     padding: 0 40px 0 0 ;
     border-left:0 none;
}
 #footer .col-sm-3.column.first{
    padding:0 0 0 25px;
}
 .col-sm-3.column.second, .col-sm-3.column.third{
     border-right: 1px solid #d9d9d9;
     border-left:0 none;
}
 .col-sm-3.column.third{
    border-left:1px solid #d9d9d9;
}
 #footer .column ul{
    padding-right:0;
}
 .address .address-icon{
    float:left;
}
 #footer .column li.email a{
    padding-right:0;
}
#form-currency .dropdown-menu, #form-language .dropdown-menu, .affiliate-dropmenu .dropdown-menu{
    right: 0;
    left: auto;
}
 .content_footer_bottom {
}
.content_headercms_top .footer-top{
     float: right;
}
#common-home .newsletter{
	padding-left: 15px;
	padding-right: 0;
}
.newsletter .newsletter-icon{
	margin: 0 0 0 20px;
	float: right;
}
 .slider-banner .slide {
     float: right;
}
 #content .category_list li{
    float:right;
    margin:0 0 7px 7px;
}
 .sort-by-wrapper {
     margin-left: 10px;
    margin-right:0;
}
 .compare-total{
    margin: 2px 15px 0 0;
}
 .product-list .caption ,.product-list .list-right{
     text-align: right;
}
 .product-list .product-thumb .button-group .addtocart .fa{
     margin-left: 10px;
     margin-right: 0;
}
 .product-layout.product-list .product-thumb .button-group .addtocart{
	padding: 8px;
}
 .product-list .list-right{
	border-right: 1px solid #dddddd;
	border-left:0 none;
	padding:0 30px 0 10px;
}

.product-block .button-group{
	left: 10px;
	right: auto;
	transform: translateX(-60px);
}
 .text-left,.product-list .price,.form-horizontal .control-label{
	text-align:right;
}
.footer-social .social-image{
	float:right;
	margin: 0 0 0 15px;
}
.social-right{
	border-right: 1px solid #DCDCDE;
	border-left: none;
}
.social ul li{float:right;}
 #content ul.list-unstyled li span{
    margin-left: 15px;
     margin-right: 0;
}
 .productpage .write-review::before{
    left: auto;
     right: -12px;
}
 .productpage .write-review i{
    margin-left: 10px;
     margin-right: 0;
}
 .cms-banner-right,.cms-banner-left,.cms-banner2, .cms-banner3{
    float:right;
}
 .byadmin{
    float:right;
     margin-right: 4px;
}
 .post_comment{
    float:left;
}
 .post-date{
    left:4.5%;
    right:auto;
}
 .productpage .product-right{
    padding:0 10px 0 15px;
}
 .input-group .form-control, .table.table-bordered .input-group-btn {
     float: right;
}
 #bottomfooter > ul > li{
    background:url("../../image/themeimage/header_top_links_pipe.jpg") no-repeat scroll left 13px transparent;
    padding:10px 1px 3px 8px;
}
 #bottomfooter > ul > li:first-child{
    padding-left: 8px;
}
 #search .input-group-btn{
    left: 5px;
    right: auto;
}
 .responsive-menu .main-navigation li a:hover{
     border-right: 5px solid #ffe35f;
     border-left: 0 none;
}
 .product-layout.product-grid.last-item ,.product-listgrid .product-grid:last-child{
    border-left:0 none;
}
 .slidebanner1 .cms-title {
    border-right: 0 none;
     border-left:1px solid #064857;
}
 .slidebanner4 .cms-title {
     border-left: 0 none;
     border-right:1px solid #064857;
}
 #footer .column li.email a::before{
    content:none;
}
 .box .box-category-heading{
    background:url("../../image/themeimage/category.jpg") no-repeat scroll right 0 #ff906a;
}
 .heading-img{
    margin-right:0;
    margin-left:16px;
}
 .button.aboutus{
    float:left;
}
 .account-transaction table td.text-right, .affiliate-transaction table td.text-right {
     border-right:0 none;
     border-left: 1px solid #dddddd;
}
 .product-compare .table-bordered tr td:first-child{
    text-align:right;
}
 .product-compare .table-bordered thead tr td:first-child{
    text-align:right;
}
 .inner-cms{
     padding-right: 124px;
     padding-left: 0;
}
 .first-content,.second-content,.third-content{
    float:right;
}
 .icon-left1{
     float: right;
}
 .icon-left2, .icon-left3{
     float: right;
     background-position: left;
}
 .dropdown-menu {
     left: auto;
     right: 0;
     float: right;
     text-align: right;
}
 .main-menu > ul > li ul > li:hover .dropdown-menu{

}
 .main-menu > ul > li .column3 ul.childs_1 > li:hover .dropdown-menu, .main-menu > ul > li .column3 ul.childs_2 > li:hover .dropdown-menu{
     left:auto;
     right:30px;
}
.main-menu > ul > li ul > li .dropdown-menu{
     right: 30px;
     left: auto;
}
 .main-menu > ul > li ul.childs_1 > li:hover .dropdown-menu, .main-menu > ul > li ul.childs_2 > li:hover .dropdown-menu {
     display: block;
     right: 30px;
     left: auto;
}
 .main-menu .column1 ul.childs_1 .dropdown a::after{
     content: "\f104";
     left: 0;
     right: auto;
}

 .contact-info .right{
    text-align:left;
}
 .pagination > li{
     margin: 0 0 0 5px;
}
 .product-info .product-image .customNavigation span.next{
    right:0;
}
 .box.sidebar-category .box-content ul li {
    padding: 0 0 0 12px;
}
 .product-compare .table-bordered tbody tr td + td{
    border-right: 1px solid #dddddd;
    border-left:0 none;
}
 .category_thumb .category_img, .category_thumb .category_description{
    float:right;
}
 .call{
    float:right;
}
.newsletter .newsletter-image{
	float:right;
}
 #footer #contact .address::before, #footer #contact .email::before,#footer #contact .ph-no::before,#footer #contact .fax::before{
    float:right;
}
 #footer #contact ul li{
    padding:0 26px 0 0 ;
}
 #footer #contact .address::before,#footer #contact .ph-no::before{
    margin-right:0;
    margin-left:10px
}
 #footer #contact .address::before{
    padding:0 0 0 7px;
}
#footer #contact .fax::before{
    padding: 0 0 0 4px;
    margin-right: 0;
    margin-left: 10px;
}
 #footer #contact .ph-no::before{
    padding:0 10px;
}
 #footer #contact .email::before{
    padding: 0 0 0 4px;
    margin-right: 0;
    margin-left: 10px;
}
#footer .footer-social{float:right;}
.footer-app{float:left;}
.footer-app .footer-app-image{background-position:left;}
#footer .footer-payment{float:left;}
#footer .content_footer_top{padding:0;}
 .subscribe-btn .btn:hover {
	  background-position: center left; 
 }
 .tm-about-text:before{
    float:right;
}
 .tm-about-text{
     padding:0 40px 0 0;
}
 .content-wrap {
     float: right;
     margin-right: 30px;
    margin-left:0;
}
 #top .language-menu .language-select{
    text-align: right;
}
 .category_tab .tab-pane .owl-buttons a, .related-products .customNavigation a, .featured-products .customNavigation a{
     text-align: left;
}
 .category_tab .tab-pane .owl-buttons a:hover {
     color: #FF5D68;
}
#information-contact .page-title, #information-contact legend {
    padding-left: 0;
    padding-right: 15px;
}
 #txtemail::placeholder{
	 text-align:right;
 }
#search .input-lg {
     padding: 10px 20px 10px 60px;
}
#search{
	left: 0;
	right: auto;
}
 #content .box .box-heading:after,.newsletter-title:after {
     margin: 0 20px 0 0;
}
 #content.single-blog .page-title {
     float: none;
}
 #column-left .box .box-heading, #column-right .box .box-heading {
     text-align: right;
}
 #content .product-list .btn-wish-compare .button-group {
     text-align: right;
}

 @media (min-width:768px) {
     .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
         float: right;
    }
     .navbar-nav,.product-list .product-thumb .image {
        float: right;
    }
}
 .contact-info .address-detail strong{
     padding: 5px 45px 0 0;
     background-position:right -235px;
     float:right;
}
 .contact-info .telephone strong{
     padding: 5px 45px 0 0;
     background-position:right -314px;
     float:right;
}
 .contact-info .fax strong{
     padding: 5px 45px 0 0;
     background-position:right -272px;
     float:right;
}
 .contact-info address{
    float:right;
     margin: 0 47px 0 0;
}
#top-links {
    float: none !important;
}
/*-------------------------------------RTL Responsive-------------------------------------*/
@media only screen and (max-width: 1299px) and (min-width: 980px){
#contact {
	text-align: right;
}
}
 @media (min-width: 980px) {
     #menu .dropdown .dropdown-menu.megamenu, #menu .dropdown .dropdown-menu.megamenu .dropdown .dropdown-menu.megamenu{
		right: 25px;
		left: auto;
    }
	#menu .hiden_menu .dropdown-menu.megamenu {
		left: 25px;
		right: auto;
	}
	#menu .dropdown .dropdown-menu.megamenu:before, #menu .dropdown .dropdown-menu.megamenu .dropdown .dropdown-menu.megamenu:before{	
		border-left: 10px solid #dddddd;
		border-right:none;
		right: -10px;
		left: auto;
	}
	 #footer .column {
		padding: 60px 50px 65px 0;
	}
}
 @media (max-width: 1449px) {
	 .newsletter .newsletter-image {
		margin: 0 0 0 12px;
	}
 }
 @media (max-width: 1299px) {
     .cmsblock_list_inner {
         bottom: 20px;
         padding: 10px 0;
         right: 20px;
         top: auto;
         left: 20px;
         text-align: center;
         width: auto;
    }
	#footer .column {
		    padding: 60px 30px 65px 0;
	}
	#footer #contact ul li{padding:0;}
     .cmsblock-data {
         line-height: normal;
         writing-mode: unset;
         text-orientation: unset;
         text-align: center;
         letter-spacing: 4px;
    }

     .list_inner:hover .cmsblock_img{
         right: 0;
    }
     .service-content, .second-content .service-content,.third-content .service-content{
         padding: 0 10px 0 0;
    }
     .pst-cat-item-second:hover .cat-item-content-second{
         padding-left: 10px;
    }
     .tm-about-text{
        width:76%;
    }
	#footer #contact .address::before, #footer #contact .email::before, #footer #contact .ph-no::before, #footer #contact .fax::before{
		float:none;
	}
	#footer #contact .address::before{
		    padding: 0 7px 0 0;
	}
	#footer #contact .address::before, #footer #contact .ph-no::before{
		margin-right: 10px;
		margin-left: 0;
	}
	#footer #contact .fax::before{
		padding: 0 4px 0 0;
		margin-right: 10px;
		margin-left: 0;
	}
	#footer #contact .email::before{
		padding: 0 4px 0 0;
		margin-right: 10px;
		margin-left: 0;
	}
	#categorycmsblock .category-title-block{
		    padding: 30px 45px 30px 30px;
	}
	#categorycmsblock .cat-btn{
		left: auto;
		right: 14%;
	}
	#categorycmsblock .owl-carousel .owl-buttons{
		left: auto;
		right: -11%;
	}
	#serviceblock .image-block {
		margin: 0 0 15px;
	}
	#serviceblock .service-right {
		text-align: center;
	}
}
 @media (max-width: 1199px) {
	.category_tab .etabs{
		margin: 0 0 30px;
	}
	.category_tab .nav-tabs {
		text-align: right;
	}
	.countbox .timebox {
		margin: 0 0 0 20px;
	}
	.category_tab ul li:first-child a{
		padding: 6px 0 6px 10px;
	}
 }
 @media (max-width: 979px) {
	 #footer .column ul {
		display: none;
		margin: 0 15px 15px 0;
	}
	.layout-2.left-col #column-left .toggle .mobile_togglemenu, .layout-2.right-col #column-right .toggle .mobile_togglemenu{
		left: 10px;
		right: 0;
	}
	.productpage ul.breadcrumb{text-align:center;}
	.special .owl-buttons {
		left: 0;
		right: auto;
	}
	#offercmsblock-2{
		padding:0;
	}
	#form-language .btn, #form-currency .btn{border:none;padding:0 20px;}	
	#cart > .btn {
		margin: 10px 3px 0 0;
	}
	.special.product-box{padding:0;}
	#wish-list{margin:0 5px;}
	.footer-app .footer-app-image {
		background-position: center;
	}
	#menu.responsive-menu ul li a {
		text-align: right;
	}
	#common-home .newsletter{padding:0;}
     .main-menu {
         float: right;
    }
     .second-content .service-content{
         border: none;
    }
     .main-menu.container{
         padding-left: 0;
         padding-right: 124px;
    }
     .service-content, .second-content .service-content,.third-content .service-content{
         padding: 0;
    }
     .inner-cms{
         padding: 0;
    }
     .responsive-menu .main-navigation ul{
         padding-right:20px;
         padding-left:0;
    }
     .nav-responsive div, .responsive-menu .hitarea{
         float:left;
    }

     .pagination-right{
        float:right!important;
    }
     #footer .col-sm-3.column.fourth,.col-sm-3.column.second, .col-sm-3.column.third,.col-sm-3.column.third{
        border-right:0 none;
    }
     .col-sm-3.column.third{
        border-left:0 none;
    }
     #footer .column{
		width: 100%;
		padding: 0;
    }
     .product-info .product-image .customNavigation span.next{
         right: 4px;
    }
     .checkout-cart .table.table-bordered .input-group-btn{
        float:right;
    }
     .checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group {
         margin-left: 3px !important;
         margin-right: 0 !important;
    }
     .checkout-cart #accordion .input-group-btn:last-child > .btn, .checkout-cart #accordion .input-group-btn:last-child > .btn-group {
        margin-right: 3px !important;
    }
     .product-list .list-right {
         padding: 0 20px 0 10px;
         width: 37%;
    }

     .pagination-right{
        margin-left:0px;
        margin-right:5px;
    }
     .pagination-right{
        margin-right:0;
    }
     .footer-container, .content_footer_bottom{
    }
     #footer .col-sm-3.column.first{
        padding:0;
    }
     .tm-about-text{
        padding:0 15px 0 0;
    }
     .aboutme-read-more{
        margin:37px 0 0 15px;
    }
     #footer #contact .email{
        float:none;
    }
     #footer .col-sm-3.column.fourth{
        width:100%;
    }
     .product-list .product-thumb .caption{
		padding: 0;
		text-align: right;
    }
     .contact-info .right{
        float:right;
        text-align:right;
        clear:both;
    }
     #menu.responsive-menu ul li a.mobile_togglemenu, #menu.responsive-menu ul.nav li .megamenu ul.list-unstyled li > a.mobile_togglemenu{
        float:left;
        left:0;
        right:auto;
    }
     #menu.responsive-menu .list-unstyled.childs_1 > li{
        text-align:right;
    }
     #pst_serviceblock .pst-image-block {
         display: inline-block;
         float: none;
         margin: 0 0 10px;
    }
	#search {
		float: none;
	}
	.newsletter .newsletter-icon{float:none; margin:0 auto;}
	.content_headercms_bottom .search{float:none;}
	.main-slider{padding:0;}
	#custom-text .text1{padding:0;}
	#custom-text .text2{padding:0;}
	.newsletter .newsletter-image{
		float: none;
		margin: 0 0 30px;
	}
	.footer-payment {
		float: none;
	}
	.social {
		float: none;
	}
	.header .header-nav-right .pull-left {
		float: right !important;
	}
	#homeblog{padding:0;}
	.addthis_button_tweet.at300b{ float: none !important;}
	.header-logo{
		margin:0 auto;
	}	
	#search .input-lg{
		padding: 8px 15px 8px 60px;
	}
	#Tab_Category_Slider{padding:0;}
	#column-left .box-product .price, #column-right .box-product .price{float:right;}
	.powered{
       float:none;
    }
	#footer .footer-payment{float:none;}
	#column-left .swiper-viewport #banner0, #column-right .swiper-viewport #banner0{float:right;}
}
@media only screen and (max-width: 979px) and (min-width: 480px){
.top_button {
    left: 30px;
}
}
 @media (max-width: 767px) {
     .footer-top {
         float: none;
    }
	.productpage .nav-tabs > li > a{margin-left: 0!important;}
		.product-tab .tab-content{margin:0;}
	.product-list .product-thumb .caption{text-align:center;}
	.product-list .product-thumb .rating{float:none;}

     .main-menu.container{
         padding: 0;
    }

     #cart .dropdown-menu {
        left: 0;
         right:auto;
    }
     .category_filter .show {
        float: right;
         margin: 8px 0 0 10px;
    }
     .table-responsive {
        float: right;
    }
     .checkout-cart .table.table-bordered .input-group-btn{
        float:right;
    }
     .content_headercms_top{
        float:none;
    }
     .footer-container ,.content_footer_bottom{
        float:none;
    }
	
     .productpage .product-right{
        padding:0 15px;
    }
     .col-sm-3.column.third{
        border-left:0 none;
    }
     .tm-about-text {
        background: none;
        padding: 0 15px;
    }
     .content-wrap{
        margin-right:0;
    }
     .tm-about-text {
        width: 65%;
        margin-right:0;
    }
     .product-layout.product-grid{
        float:right;
    }
	.product-list .caption .price{
		text-align: center;
		float: none;
	}
	#content .product-list .btn-wish-compare .button-group{
		    text-align: center;
	}
	#blocktopcms{float: none;}
	#links_block_header{float: none;}
	#content .product-list .button-group{text-align: center;}
	.header .header-nav-right .pull-left {
		float: left!important;
	}
	.bestseller .product-thumb .image{float:right;}
	.header-logo{
		left: auto;
		right: 65px;
	}
}
 @media (max-width: 479px) {
	 #form-currency .dropdown-menu, #form-language .dropdown-menu {
		left: 0;
		right: 0;
	}
	ul.breadcrumb{float:none;}
	.header-logo{
		right: 55px;
	}
	.productpage .product-right-inner {
		text-align: right;
	}
	.bestseller .product-thumb .image{float:none;}
	.subscribe-btn .btn{
		border-radius: 25px;
		-webkit-border-radius: 25px;
		-khtml-border-radius: 25px;
		-moz-border-radius: 25px;
	}
	.subscribe-btn .btn:hover{background-position: center;}
     .pagination-wrapper .page-link{
        float:right;
    }
     .pagination-wrapper .page-result{
        float:right;
        clear:both;
    }
	.newsletter .text-danger{
		float:none;
		width:100%;
	}
     .checkout-cart .buttons .pull-right{
        clear: both;
         float: right;
         margin: 10px 0;
    }
     .checkout-cart #accordion .input-group-btn{
        float:right;
    }
     .checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{
        margin:0px;
    }
     .cms-data{
        border-left:0 none;
        padding-left:0;
    }
     .header-tele-cms{
        left:0;
    }
     .list_inner {
         float: none;
         position: relative;
         display: inline-block;
    }
     .first-content .service-content, .second-content .service-content{
         border: none;
    }
     .aboutme-read-more {
         margin: 0 0 10px 10px;
    }
     .checkout-cart #accordion .input-group-btn:last-child > .btn, .checkout-cart #accordion .input-group-btn:last-child > .btn-group {
         margin-right: 0 !important;
    }
     .checkout-cart .col-sm-offset-8 .table > tbody > tr:first-child > td {
        border-top: medium none;
    }
     .product-list .list-right{
        border-right:0 none;
        padding:0 ;
        width:100%;
    }
     .tm-about-text {
         margin-bottom: 0;
         padding: 0 15px 15px 15px;
         width: 100%;
        text-align:center;
    }
     .aboutme-read-more {
         margin: 10px 0 25px;
    }
     .contact-info .right{
        text-align:center;
    }
     .checkout-cart .btn.btn-danger {
         margin-top: 0 !important;
    }
}
 