
/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.product-carousel .slider-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 0 0;
}
.banners-slider-carousel .slider-wrapper-outer {
    text-align: center;
}
.product-carousel .slider-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.product-carousel .slider-item{
	float: left;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{
	cursor: pointer;
}
.slider-controls {
	-webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
 



/* fix */
.product-carousel  .slider-wrapper,
.product-carousel  .slider-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}
.product-image .customNavigation a.prev {left:0; color:#000000; width:20px;}
.product-image .customNavigation a.next {right:0; color:#000000; width:20px;}
.product-image  .customNavigation a {top:40px;}

.customNavigation, .owl-buttons    { 
    text-align: center;
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;
}  
.banners-slider-carousel .customNavigation{
	position:static;
}
.customNavigation a,.owl-buttons div{
    z-index: 99;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid #E3E3E3;
    color: #ffffff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-position: center;
    margin: 0 0 0 3px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    font-weight: 300;
    background-size: 9px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#content .box-content:hover .customNavigation a, #content .box-content:hover .owl-buttons div ,.banners-slider-carousel:hover .customNavigation a,#psttestimonialcmsblock:hover .owl-buttons div{
	opacity: 1;	
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}

.customNavigation .fa-angle-right:before,.owl-buttons .fa-angle-right:before,.customNavigation .fa-angle-left:before,.owl-buttons.fa-angle-left:before,.customNavigation .fa-angle-double-left:before,.customNavigation .fa-angle-double-right:before,.category_tab .tab-pane .owl-buttons a.fa{
    display: none;
}

.customNavigation a.prev,.owl-buttons .owl-prev {
	background-image: url(../../image/themeimage/pst-prod-prev.svg);
	left:0;
}
.customNavigation a.prev:hover,.owl-buttons .owl-prev:hover { 
	background-image: url(../../image/themeimage/pst-prod-prev-hover.svg);
	background-color: #247CC6;
	border-color:#247CC6;
}
.customNavigation a.next,.owl-buttons .owl-next {
    background-image: url(../../image/themeimage/pst-prod-next.svg);
	right:0;
}
.customNavigation a.next:hover,.owl-buttons .owl-next:hover {
	background-image: url(../../image/themeimage/pst-prod-next-hover.svg);
	background-color: #247CC6;
	border-color:#247CC6;
}
#homeblog .owl-controls .owl-buttons div {
	top: 32%;
}
.special .customNavigation a{
	top: 45%;
}
.testimonial_inner .customNavigation a {
    top: 45%;
    display: none;
}
.banners-slider-carousel .product-carousel{  width:auto;}
.banners-slider-carousel .customNavigation a.prev {
    position: absolute;
    left: -35px;
    right: auto;
    top: 42%;
    bottom: auto;
	margin:0;
    padding: 0;
	font-size:0;
    background-position: center;
    width: 35px;
    height: 35px;

	opacity:0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity:0;
}
.banners-slider-carousel:hover .customNavigation a.prev{
	left: 0;
	right: auto;
	opacity: 1;	
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}
.banners-slider-carousel .customNavigation a.prev:hover {text-decoration:none; z-index:9; }
.banners-slider-carousel .customNavigation a.next {
    position: absolute;
    right: -35px;
    left: auto;
    top: 42%;
    bottom: auto;
	margin:0;
	font-size:0;
	padding: 0;
	background-position: center;
	width: 35px;
	height: 35px;
	
	opacity:0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity:0;
}
.banners-slider-carousel:hover .customNavigation a.next{
	right: 0;
	left: auto;
	opacity: 1;	
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}
.banners-slider-carousel .customNavigation a.next:hover 	{text-decoration:none; z-index:9;}
.banners-slider-carousel .customNavigation a:hover{
	color:#EF447C;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
}
#categorycmsblock .owl-carousel .owl-buttons{
    position: absolute;
    left: -12%;
    right: auto;
    bottom: 20%;
    top: auto;
}
#categorycmsblock .owl-carousel .owl-buttons .owl-prev,
#categorycmsblock .owl-carousel .owl-buttons .owl-next{
    position: static;
    opacity: 1;
    margin: 0 3px;
}

.product-info .product-image .customNavigation    { text-align: center; width:100%; z-index:9;position: static;}
.product-info .product-image .customNavigation a{
	-webkit-tap-highlight-color: transparent;
	display: block;
    float: right;
    height: 20px;
    position: absolute;
    top: -34px;
    width: 16px;
}
.product-info .product-image .customNavigation span.prev,
.product-info .product-image .customNavigation span.next {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    width: 25px;
    height: 25px;
    line-height: 25px;
	transition-duration: 300ms;
	-webkit-transition-duration:300ms;
	-moz-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	-o-transition-duration:300ms;
}
.product-info .product-image .additional-carousel:hover .customNavigation span.prev,
.product-info .product-image .additional-carousel:hover .customNavigation span.next {	
	transition-duration: 300ms;
	-webkit-transition-duration:300ms;
	-moz-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	-o-transition-duration:300ms;
}
.product-info .product-image .customNavigation span.prev {
	background-image: url(../../image/themeimage/prev.svg);
	color: #000000;
	cursor: pointer;
	font-size: 18px;
	left: 0;
	position: absolute;
	top: 30px;
	z-index: 99;
}
.product-info .product-image .customNavigation span.prev:hover { 
	background-image: url(../../image/themeimage/prev-hover.svg);
}
.product-info .product-image .customNavigation span.next {
	background-image: url(../../image/themeimage/next.svg);
	color: #000000;
	cursor: pointer;
	font-size: 18px;
	position: absolute;
	right: 0;
	top: 30px;
	left: auto;
	z-index: 99;
}
.product-info .product-image .customNavigation span.next:hover {
		background-image: url(../../image/themeimage/next-hover.svg);
	}
@media (max-width: 1299px) {
	#homeblog .owl-controls .owl-buttons div {
		top: 47%;
	}
}
@media (max-width: 979px) {
.customNavigation a,.owl-buttons div{
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-moz-transform: scale(1);
}
.banners-slider-carousel .customNavigation a.prev,
.banners-slider-carousel .customNavigation a.next{
	top: 43%;
}
#categorycmsblock .owl-carousel .owl-buttons {
    left: 0;
    right: 0;
    bottom: auto;
    top: -65px;
    text-align: center;
}
.product-info .product-image .customNavigation span.prev,
.product-info .product-image .customNavigation span.next{
	    top: 33px;
}
.special .customNavigation a{
	top: 53%;
}
}

@media (max-width: 479px) {
.product-info .product-image .customNavigation span.prev, .product-info .product-image .customNavigation span.next{ top: 30px;}
}