<div id="homeblog">
<div class="blog-module latest blog">
<div class="box">
	{% set sliderFor = 2 %}
	{% set blogCount = blogs|length %}
 	<div class="title-wrapper">
   <div class="box-heading">{{ heading_title }}</div>
   </div>
 <div class="box-content">
 
    <div class="box-product{% if blogCount >= sliderFor %} owl-carousel blog-carousel blog_grid_holder{% else %} box-grid{% endif %}" id="{% if blogCount >= sliderFor %}blog-carousel{% else %}blog-grid{% endif %}">
    {% for blog in blogs %} 
    <div class="{% if blogCount >= sliderFor %}blog_item{% else %}product-items{% endif %}">
	<div class="product-block">
     <div class="summary">
	 {% if blog.image %} 
	  <div class="blog-left">
	  
	  <div class="image">
	  <img src="{{ blog.image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" />
      <p class="post_hover"><a class="icon zoom" title="Click to view Full Image " href="{{ blog.image }}" data-lightbox="example-set"><i class="fa fa-search-plus"></i> </a></p>
	  </div>
	  </div>
	 {% endif %} 	
	 <div class="blog-desc">  
	 <div class="blog_stats">
	  <div class="date-time"> <b class="hl"> {{ blog.date_added }} </b></div>
	  </div>
	 <h2 class="blog_title"><a href="{{ blog.href }}">{{ blog.title [0:20] }}</a> </h2>{#  will display "25" #}
	  
	  
      <div class="desc"><p>{{ blog.description [0:200] }}</p></div> {#  will display "25" #}
	  <div class="readmore"><p class="btn_readmore"> <a href="{{ blog.href }}"> {{ text_read_more }}</a> </p></div>
	   <!--<div class="view-blog">
	  	<div class="write-comment"> <a href="{{ blog.href }}"> {{ blog.total_comments }} - {{ entry_comment }}</a> </div>		
	  </div>-->
	  
	 
	 </div> 
    </div>
	</div>
	</div>
	
     {% endfor %} 	 
   
  </div>
   <!--<div class="buttons text-center">
      <button type="button" onclick="location='{{ all_blogs }} ';" class="btn btn-primary">{{ button_all_blogs }}</button>
    </div>-->
  </div>




 
</div>
</div>
</div>
