
{{ header }}
<div id="common-home">
  <div class="row">

	   {{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
		{% set class = 'col-sm-9' %}
		{% else %}
		{% set class = 'col-sm-12' %}
		{% endif %}
		
		<div id="content1"><div class="container">{{ content_top }}</div></div>
		<div id="content"><div class="container">{{ content_bottom }}</div></div>
		</div>
		{{ column_right }}
		</div>
</div>
{{ footer }}
