<!--<div class="header-search dropdown-toggle hidden-lg hidden-md" data-toggle="dropdown"></div>-->
<div id="search" class="input-group dropdown-menu">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg">{{ text_search }}
    	<span class="search_button">search</span>
    </button>
  </span>
</div>