<footer>

  <div id="footer">
		<div class="content_footer_top">
			<div class="container">{{ footer_top }}</div>
		</div>
	  <div class="content_footer_wrapper">
	  <div class="content_footer_inner">
	   <div class="container">
	   
	   <div class="footer-left column col-md-4 col-lg-4">{{ footer_left }}</div>
      {% if informations %}
      <div class="col-md-2 col-lg-2 column common first">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
		 
      </div>
      {% endif %}
	  	  
	 <div class="col-md-2 col-lg-2 column common second">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
		   <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
		   <li><a href="{{ special }}">{{ text_special }}</a></li>
		    <li><a href="{{ account }}">{{ text_account }}</a></li>
        </ul>
      </div>
	  
      <div class="col-md-2 col-lg-2 column common third">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
			    <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ download_catalog }}">{{ text_download_catalog }}</a></li>
        </ul>
      </div>

	  </div>
	  </div>
	
	</div>
	</div>
	
	
  </div>
</footer>
  
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>

{% endfor %}

<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//--> 
<!-- Theme created by Welford Media for OpenCart 2.0 www.welfordmedia.co.uk -->
</body></html>