<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<!-- <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> -->
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<link href="catalog/view/theme/{{ mytemplate }}/stylesheet/stylesheet.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/themecss/lightbox.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/magnific/magnific-popup.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/owl-carousel/owl.transitions.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/themecss/carousel.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/{{  mytemplate }}/stylesheet/themecss/custom.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/{{  mytemplate }}/stylesheet/themecss/slick.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/{{  mytemplate }}/stylesheet/themecss/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/{{  mytemplate }}/stylesheet/themecss/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/{{  mytemplate }}/stylesheet/themecss/animate.css" />

<style>
	.header-notice{
		color:black;
		text-align:center;
        font-size:20px;
		background-color: #D9EDF7;
		margin-top: -8px;
	}
</style>

{% if direction == 'rtl' %}
<link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/themecss/rtl.css">
{% endif %}

<!-- {% for style in styles %}
<link href="style.href" type="text/css" rel="style.rel" media="style.media" />
{% endfor %} -->

<script src="catalog/view/javascript/lightbox/lightbox-2.6.min.js"></script>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" ></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
<!-- Theme Start -->

<script  type="text/javascript" src="catalog/view/javascript/themejs/custom.js"></script>
<script  type="text/javascript" src="catalog/view/javascript/themejs/slick.js"></script>
<script  type="text/javascript" src="catalog/view/javascript/themejs/jstree.min.js"></script>
<script  type="text/javascript" src="catalog/view/javascript/themejs/carousel.min.js"></script>
<script  type="text/javascript" src="catalog/view/javascript/themejs/productcarosel.min.js"></script>
<script  type="text/javascript" src="catalog/view/javascript/themejs/jquery.custom.min.js"></script>
<script  type="text/javascript" src="catalog/view/javascript/themejs/jquery.formalize.min.js"></script>
<script  type="text/javascript" src="catalog/view/javascript/themejs/jquery.elevatezoom.min.js"></script>
<script  type="text/javascript" src="catalog/view/javascript/themejs/bootstrap-notify.min.js"></script>  
<script  type="text/javascript" src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
<script  type="text/javascript" src="catalog/view/javascript/themejs/owl.carousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/magnific/magnific-popup.css" />
<script  src="catalog/view/javascript/themejs/tabs.js"></script>
<script  type="text/javascript" src="catalog/view/javascript/jquery.countdown.js"></script>
<script  type="text/javascript" src="catalog/view/javascript/jquery.countdown.min.js"></script>
<!-- Theme End -->

<script src="catalog/view/javascript/common.js" ></script>
<script  src="catalog/view/javascript/themejs/parallax.js"></script>


</head>

{% if (column_left and column_right) %}
{% set layoutclass = 'layout-3' %}
{% elseif (column_left or column_right) %}
{% if column_left %}
{% set layoutclass = 'layout-2 left-col' %}
{% elseif column_right %}
{% set layoutclass = 'layout-2 right-col' %}
{% endif %}
{% else %}
{% set layoutclass = 'layout-1' %}
{% endif %}

<body class="{{ class }} {{ " " }} {{ layoutclass }}">

<header>
  
 
  <div class="header">
	<div class="header-nav-wrapper">
	<div class="container">
	<div class="header-notice">{{ text_notice }}</div>
   <div class="header-nav-left">
    <div class="nav pull-left nav-left-bar ">
			{{ language }}
			{{ currency }}
    </div>
    </div>
	<div class="header-nav-right">
		<div class="dropdown myaccount">
		 <a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown">
		<span class="user-info-image hidden-md hidden-lg">my account</span>
		 <span class="account-title hidden-sm hidden-xs">{{ text_account }}<i class="fa fa-angle-down"></i></span>
		 </a>
          <ul class="dropdown-menu dropdown-menu-right myaccount-menu">
            {% if logged %}
				<li><a href="{{ account }}">{{ text_account }}</a></li>
				<li><a href="{{ order }}">{{ text_order }}</a></li>
				<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
				<li><a href="{{ download }}">{{ text_download }}</a></li>
				<li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
				<li><a href="{{ register }}">{{ text_register }}</a></li>
				<li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
            <nav id="top">
              <!-- <div class="container"> -->
            </nav>
			 <div class="nav pull-left nav-right-bar">
              </div>
          </ul>
        </div>
		{{ header_top }}	
			
	  </div>
	   </div>
	   </div>
	  
	  
	  
	  
	   <div class="content_headercms_top">
	   <div class="container">
	   		<div class="header-logo">
				<div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
				  <h1><a href="{{ home }}">{{ name }}</a></h1>
				  {% endif %}</div>
			</div>
			  <div class="dropdown search" title="{{ text_search }}">{{ search }}</div> 
			  <div class="header-cart">{{ cart }}</div>
				
				
				<div id="wish-list" class="wish-list hidden-md-down">
				<span class="wish-details"><span class="wish-image"></span></span>
				
				<div class="wish-list-details dropdown-menu">
				<div class="header-wishlist"><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><span class="wishlist">{{ text_wishlist }}</span></a></div>
				</div>	
				</div>
	  </div>
	  </div>
	  
	  
	  
	<div class="content_headercms_bottom">
		<div class="container"> 
		{{ header_bottom }}
		{{ menu }}
		
		</div>
	</div>
	
  </div>

</header>
<div class="nav-inner-cms">
  <div class="header-bottom">
	<!-- <div class="main-menu container" id="cms-menu">
        <ul class="main-navigation">
			<li class="first level0"><a href="{{ affiliate }}">{{ txt_affiliate }}</a></li>
            <li class="level0"><a href="{{ voucher }}">{{ txt_voucher }}</a></li>
            <li class="level0"><a href="{{ manufacturer }}">{{ txt_manufacturer }}</a></li> 
            <li class="level0"><a href="{{ return }}">{{ txt_return }}</a></li> 
            <li class="level0"><a href="{{ sitemap }}">{{ txt_sitemap }}</a></li>
            <li class="last level0"><a href="{{ contact }}">{{ txt_contact }}</a></li>
              
         </ul>
     </div> -->
	 </div>
</div>

  <div id="breadcrumb">
    <div class="container">
      
    </div>
  </div>
<!-- ======= Quick view JS ========= -->
<script> 

function quickbox(){
 if ($(window).width() > 767) {
    $('.quickview').magnificPopup({
      type:'iframe',
      delegate: 'a',
      preloader: true,
      tLoading: 'Loading image #%curr%...',
    });
 }  
}
jQuery(document).ready(function() {quickbox();});
jQuery(window).resize(function() {quickbox();});

</script>
