<div id="main-menu" class="main-menu">
<nav class="nav-container" role="navigation">
<div class="nav-inner">
<!-- ======= Menu Code START ========= -->
{% if categories %}
<!-- Opencart 3 level Category Menu-->
<div id="menu" class="main-menu">
<div class="nav-responsive"><span>Menu</span><div class="expandable"></div></div>
	
      <ul class="nav navbar-nav">
	  	<li class="level0 home"><a href="{{ home }}">{{ name }}</a></li>
		<li class="top_level" > <a href="{{ all_blogs }}">{{ text_blog }}</a></li>
				{% for category in categories %}
        {% if category.children %}
			<li class="top_level dropdown"><a href="{{ category.href }}">{{ category.name }}</a>

			<div class="dropdown-menu megamenu column{{ category.column }}">
            <div class="dropdown-inner">
			  {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
				<ul class="list-unstyled childs_1">
                {% for child in children %}
					<!-- 2 Level Sub Categories START -->
					{% if child.childs %}
					  <li class="dropdown"><a href="{{ child.href }}">{{ child.name }}</a>

						  <div class="dropdown-menu">
			              <div class="dropdown-inner">
			              {% for childs_col in child.childs|batch(child.childs|length / child.column|round(1, 'ceil')) %}
							<ul class="list-unstyled childs_2">
							  {% for childs_2 in childs_col %}
								<li><a href="{{ childs_2.href }}">{{ childs_2.name }}</a></li>
							  {% endfor %}
							  
							</ul>
						  {% endfor %}
						  </div>
						  </div>

					  </li>
					{% else %}
					  <li><a href="{{ child.href }}">{{ child.name }}</a></li>
					{% endif %}
					<!-- 2 Level Sub Categories END -->
                {% endfor %}
              
			    </ul>
              {% endfor %}
            </div>
			</div>

			</li>
			
        {% else %}
			<li class="top_level"><a href="{{ category.href }}">{{ category.name }}</a></li>
       {% endif %}
        {% endfor %}
		
		<li class="level0" > <a href="{{ closeout_cat_url }}">{{ text_closeout }}</a></li>
		<li class="level0" ><a href="{{ newarrival_cat_url }}">{{ text_new_arrivals }}</a></li>
		<li class="level0" ><a href="{{ bestselling_cat_url }}">{{ text_best_sellers }}</a></li>
		<li class="level0" ><a href="{{ clearance_cat_url }}">{{ text_clearance }}</a></li>
		<li class="level0" ><a href="{{ contact }}">{{ txt_contact }}</a></li>
  		</ul>
  
</div>
{% endif %}

</div>

</nav> 

</div>
</nav>   