{{ header }}
<div id="product-search" class="container">
  <ul class="breadcrumb">
     {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
	 <div class="product-search-inner">
      <h2 class="page-title">{{ heading_title }}</h2>
      <label class="control-label " for="input-search">{{ entry_search }}</label>
      <div class="row">
        <div class="col-sm-4">
          <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control" />
        </div>
        <div class="col-sm-3 sort">
          <select name="category_id" class="form-control">
            <option value="0">{{ text_category }}</option>
            {% for category_1 in categories %}
            {% if category_1.category_id == category_id %}
            <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
            {% else %}
            <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
            {% endif %}
            {% for category_2 in category_1.children %}
            {% if category_2.category_id == category_id %}
            <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
            {% else %}
            <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
            {% endif %}
            {% for category_3 in category_2.children %}
            {% if category_3.category_id == category_id %}
            <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
            {% else %}
            <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-3 search_subcategory">
          <label class="checkbox-inline">
           {% if sub_category %}
            <input type="checkbox" name="sub_category" value="1" checked="checked" />
            {% else %}
            <input type="checkbox" name="sub_category" value="1" />
            {% endif %}
            {{ text_sub_category }}</label>
        </div>
      </div>
      <p>
          <label class="checkbox-inline">
          {% if description %}
          <input type="checkbox" name="description" value="1" id="description" checked="checked" />
          {% else %}
          <input type="checkbox" name="description" value="1" id="description" />
          {% endif %}
          {{ entry_description }}</label>
      </p>
      <input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary" />
      <h2>{{ text_search }}</h2>
      {% if products %}
      <div class="category_filter">
        <div class="col-md-4 btn-list-grid">
          <div class="btn-group">
            <button type="button" id="grid-view" class="btn btn-default grid"  title="{{ button_grid }}"><i class="fa fa-th"></i></button>
            <button type="button" id="list-view" class="btn btn-default list"  title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            
          </div>
        </div>
		<div class="compare-total"><a href="{{ compare }}" id="compare-total">{{ text_compare }}</a></div>
		<div class="pagination-right">
		 <div class="sort-by-wrapper">
			<div class="col-md-2 text-right sort-by">
			  <label class="control-label" for="input-sort">{{ text_sort }}</label>
			</div>
			<div class="col-md-3 text-right sort">
			  <select id="input-sort" class="form-control" onchange="location = this.value;">
				{% for sorts in sorts %} 
				{% if sorts.value == '%s-%s'|format(sort, order) %}
				<option value="{{ sorts.href }} " selected="selected">{{ sorts.text }}</option>
				{% else %}
				<option value="{{ sorts.href }} ">{{ sorts.text }} </option>
				 {% endif %}
				{% endfor %}
			  </select>
			</div>
		 </div>
		 <div class="show-wrapper">
			<div class="col-md-1 text-right show">
			  <label class="control-label" for="input-limit">{{ text_limit }}</label>
			</div>
			<div class="col-md-2 text-right limit">
			  <select id="input-limit" class="form-control" onchange="location = this.value;">
				{% for limits in limits %}
				{% if limits.value == limit %}
				<option value="{{ limits.href }} " selected="selected">{{ limits.text }}</option>
				{% else %}
				<option value="{{ limits.href }} ">{{ limits.text }} </option>
				{% endif %}
				{% endfor %}
			  </select>
			</div>
		</div>
      </div>
	  </div>
      <br />
	  
      <div class="product-layout-wrap">
	  <div class="row">
        {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-block product-thumb">
		  	 <div class="product-block-inner">
            <!-- <div class="image">
				<a href="{{ product.href }} "><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
				{% if not product.special %}        
				{% else %}
				<div class="saleback">
				<span class="saleicon sale">Sale</span>         
				</div>
				{% endif %}
				
			</div> -->

          <div class="image">
                      {% if product.thumb_swap %}
                      <a href="{{ product.href }}">
                      <img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive reg-image"/>
                      <img class="img-responsive hover-image" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}"/>
                      </a>
                      {% else %}
                      <a href="{{ product.href }}">
                      <img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive"/></a>
                      {% endif %}

						{% if not product.special %}        
						{% else %}
						<div class="saleback">
						<span class="saleicon sale">Sale</span>         
						</div>
						{% endif %}
						
						
						
						<div class="button-group">
						<button type="button" data-placement="left" title="{{ button_cart }}" class="addtocart" onclick="cart.add('{{ product.product_id }} ');">{{ button_cart }}</button>
						<div class="quickview" data-placement="left" title="{{ button_quickview }}" ><a href="{{ product.quick }}">Quick View</a></div>  
						<button class="wishlist" type="button" data-placement="left" title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"></button>
						<button class="compare" type="button" data-placement="left" title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');"></button>
						</div>
                   
            </div>


            <div class="product-details">
            <div class="btn-list-grid">
			<!-- <div class="button-group">
                <button type="button" class="addtocart active" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }} ');">{{ button_cart }}</button>
                <button type="button" class="wishlist active" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"></button>
                <button type="button" class="compare active" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"></button>
              </div> -->

              

			</div>
			<div class="caption">
				{# if product.rating #}
				<div class="rating">
				{% for i in 1..5 %}
				{% if product.rating < i %}
				<span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
				{% else %}
				<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
				{% endif %}
				{% endfor %}
				</div>
				{# endif #}
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                
				<p class="desc">{{ product.description }}</p>
				
				
				{% if product.price %}
        			<p class="price">
       			    {% if not product.special %}
          			{{ product.price }}
         			{% else %}
         			<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
			        {% endif %}
  		            {% if product.tax %}
		            <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          			{% endif %}
					{% if product.special %}
					<span class="percentsaving">{{ product.percentsaving }}% off</span>
					{% endif %}
			        </p>
	            {% endif %}
				

               
               <div class="btn-wish-compare">
			<!-- <div class="button-group">
                
                <button type="button" class="wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"></button>
                <button type="button" class="compare" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"></button>
              </div> -->

<!--            <div class="button-group">
                  <button type="button" class="addtocart" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }} ');"><i class="fa fa-shopping-cart" aria-hidden="true"></i>{{ button_cart }}
           </button>
                  <button class="wishlist" type="button" data-placement="bottom" title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"><i class="fa fa-heart"></i></button>
                  <button class="compare" type="button" data-placement="bottom" title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');"><i class="fa fa-exchange"></i></button>
                  <div class="quickview" data-placement="bottom" title="{{ button_quickview }}" ><a href="{{ product.quick }}">Quick View<i class="fa fa-eye" aria-hidden="true"></i>
          </a></div>
            </div>-->

			</div>
             
              </div>
			  <div class="list-right">
			  <!-- <div class="list-right-price">
			  {% if product.price %}
        			<p class="price">
       			    {% if not product.special %}
          			{{ product.price }}
         			{% else %}
         			<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
			        {% endif %}
  		            {% if product.tax %}
		            <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          			{% endif %}
			        </p>
	            {% endif %}
			  </div> -->
			  
			  <!-- <div class="list-buttoncart">
			  <div class="button-group">
			  <button type="button" class="addtocart" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }} ');">{{ button_cart }}</button>
			  </div>
			  </div> -->
			  
			  </div>
            </div>
			</div>
          </div>
        </div>
        {% endfor %}
      </div>
	   </div>
       <div class="pagination-wrapper">
			<div class="col-sm-6 text-left page-link">{{ pagination }}</div>
			<div class="col-sm-6 text-right page-result">{{ results }}</div>
	   </div>  
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      {{ content_bottom }}</div>
	  </div>
    {{ column_right }}</div>
</div>
{{ footer }}
<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';
	
	var search = $('#content input[name=\'search\']').prop('value');
	
	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	var category_id = $('#content select[name=\'category_id\']').prop('value');
	
	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}
	
	var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');
	
	if (sub_category) {
		url += '&sub_category=true';
	}
		
	var filter_description = $('#content input[name=\'description\']:checked').prop('value');
	
	if (filter_description) {
		url += '&description=true';
	}

	location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name=\'category_id\']').on('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').prop('disabled', true);
	} else {
		$('input[name=\'sub_category\']').prop('disabled', false);
	}
});

$('select[name=\'category_id\']').trigger('change');
--></script>