<div class="box">
	<div class="title-wrapper">
  <div class="box-heading">{{ heading_title }}</div>
  </div>
  <div class="box-content">
    <ul class="box-category treeview-list treeview">
      {% for category in categories %}
      <li>
        {% if category.category_id == category_id %}
        <a href="{{ category.href }}" class="active">{{ category.name }} </a>
        {% else %}
        <a href="{{ category.href }}">{{ category.name }}</a>
         {% endif %}
        {% if category.children %}
        <ul>
          {% for child in category.children %}
          <li>
            {% if child.category_id == child_id %}
            <a href="{{ child.href }}" class="active">{{ child.name }}</a>
             {% else %}
            <a href="{{ child.href }}">{{ child.name }}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>	
  </div>
</div>
