<script>
		function subscribe()
		{
			var emailpattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
			var email = $('#txtemail').val();
			if(email != "")
			{
				if(!emailpattern.test(email))
				{
					$('.text-danger').remove();
					var str = '<span class="error">Invalid Email</span>';
					$('.form-group').after('<div class="text-danger">Invalid Email</div>');

					return false;
				}
				else
				{
					$.ajax({
						url: 'index.php?route=extension/module/newsletters/news',
						type: 'post',
						data: 'email=' + $('#txtemail').val(),
						dataType: 'json',
						
									
						success: function(json) {
						
						$('.text-danger').remove();
						$('.form-group').after('<div class="text-danger">' + json.message + '</div>');
						
						}
						
					});
					return false;
				}
			}
			else
			{
				$('.text-danger').remove();
				$('.form-group').after('<div class="text-danger">Email Is Require</div>');
				$(email).focus();

				return false;
			}
			

		}
	</script>
<div class="newsletter">
<div class="newsletter-wrapper">		
<!-- <div class="container">
<div class="row"> -->
<div class="newsletter-details col-xs-12 col-sm-12 col-md-6 col-lg-7 ">
 <div class="newsletter-desc box">
 <span class="newsletter-image"></span>
 <div class="newsletter-title">{{ newsletter_title }}</div>
 <div class="desc">{{ newsletter_desc }}</div>
</div>
</div>
	<div class="newsletter-block col-xs-12 col-sm-12 col-md-6 col-lg-5">
	
	<!--<span class="newsletter-info">{{newsletter_info}}</span>-->
	<form method="post">
		<div class="form-group required">
            <label class="col-sm-2 control-label" for="txtemail">{{ entry_email }}</label>
            <div class="input-news">
              <input type="email" name="txtemail" id="txtemail" value="" placeholder="{{ entry_email }}" class="form-control input-lg"  /> 
    	       
            </div>
		
		
            
            <div class="subscribe-btn">
              <button type="submit" class="btn btn-default btn-lg" onclick="return subscribe();">{{ email_button }}</button>  
    	       
            </div>
		</div>
		</form>
		</div>

<!-- </div>
</div> -->
</div>
</div>

